# Environment variables & secrets
.env
.streamlit/secrets.toml

# Virtual environment
.venv/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
